/* DELTE WHEN IMPLEMENTED */
.download-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 2rem;
  }

  /* DELTE WHEN IMPLEMENTED */
  .database-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 2rem;
  }
  