.main-page {
    text-align: center;
  }
  
  .options-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .option-box {
    width: 250px;
    height: 150px;
    margin: 20px;
    background-color: #7b7b7b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .option-box:hover {
    background-color: #e0e0e0;
    transform: translateY(-5px);
  }
  